*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/02-blackjack-game/img/table.png);
    background-size: cover;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    padding: 1rem;
}

p {
    padding: 1rem;
}

#message-el {
    font-style: italic;
}

button {
    padding: 1rem 2rem;
}